body {
	background: #fffef4;
}

.pc-hero:after {
	display: none;
}

main {
	p {
		font-family: "DM Sans", sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		@media only screen and (min-width: 768px) {
			font-size: 19px;
		}
	}
}

h2 {
	font-size: 27px;
	font-style: normal;
	font-weight: 700;
	font-family: "DM Sans", sans-serif;
}

.wrap.content-wrap {
	max-width: 1075px !important;
}

// Hero Header
.pc-hero {
	position: relative;
	background-color: #ff7345;
	aspect-ratio: 0.7;
	overflow: hidden;
	margin-bottom: 5vh;

	@media only screen and (min-width: 768px) {
		aspect-ratio: 2.5;
		overflow: hidden;
		margin-bottom: 5vh;
	}

	.pc-hero-wrapper {
		width: 100%;
		position: relative;
		z-index: 2;

		&:after {
			content: "";
			position: absolute;
			width: 120%;
			height: 120%;
			display: block;
			top: 0;
			left: -5%;
			background-color: #ff7345;
			z-index: -1;
		}

		@media only screen and (min-width: 768px) {
			max-width: 50%;

			&:after {
				display: none;
			}
		}
	}

	.pc-hero-content {
		box-sizing: border-box;
		margin-left: auto;
		margin-right: auto;
		min-width: 240px;
		max-width: 1220px;
		position: relative;
		margin: 0 auto;
		padding: 0 20px;
		padding-top: 50%;

		@media only screen and (min-width: 768px) {
			padding-top: 0;
		}

		h1 {
			font-size: 36px;
			font-family: "Bricolage Grotesque", sans-serif;
			font-style: normal;
			font-weight: 700;
			line-height: 1;
			letter-spacing: -1.28px;
			opacity: 0;
			padding-top: 5%;

			@media only screen and (min-width: 768px) {
				font-size: 64px;
				padding-top: initial;
			}
		}

		.standfirst {
			font-family: "DM Sans", sans-serif;
			font-size: 24px;
			font-style: normal;
			font-weight: 400;
			line-height: 1.2;
			opacity: 0;

			@media only screen and (min-width: 768px) {
				font-size: 36px;
			}
		}
	}

	.rotateImages {
		position: absolute;
		max-width: 160%;
		position: absolute;
		top: 10px;
		right: -50%;
		transform: translateX(-16%);

		@media only screen and (min-width: 768px) {
			right: -50vw;
			top: 0;
			max-width: 70%;
			transform: translateX(-25%) rotate(-5deg);
		}

		img {
			width: 100%;
		}
	}
}

.lottie {
	margin: 50px 0;
	@media only screen and (min-width: 768px) {
		margin: 70px 0;
	}
}

.lottie-desktop {
	display: none;
	@media only screen and (min-width: 768px) {
		display: block;
	}
}

.lottie-mobile {
	display: block;
	@media only screen and (min-width: 768px) {
		display: none;
	}
}

.quote-block {
	margin: 30px 0 40px 0;
	.quote {
		font-family: "Bricolage Grotesque", sans-serif;
		font-size: 28px;
		font-style: normal;
		font-weight: 500;
		line-height: 1.2;
		margin-bottom: 15px;
		letter-spacing: -0.56px;
		@media only screen and (min-width: 768px) {
			font-size: 36px;
		}
	}

	.author {
		font-family: "DM Sans", sans-serif;
		font-size: 11px;
		font-style: normal;
		font-weight: 400;
		line-height: 1.2;
		@media only screen and (min-width: 768px) {
			font-size: 14px;
		}
	}
}

.relatedContent {
	overflow: hidden;
	max-width: 1440px;
	margin: 0 auto;
	margin-top: 50px;
	&:hover {
		.relatedTitle {
			background-color: #ffd356;
			transition: background-color 0.5s ease-in-out;
		}
	}

	.relatedSwiper {
		max-width: 1440px;
		margin: 0 auto;
		display: grid;
		grid-auto-rows: repeat(2, 1fr);

		@media only screen and (min-width: 768px) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
	}

	.relatedTitle {
		font-family: "Bricolage Grotesque", sans-serif;
		font-size: 24px;
		font-style: normal;
		font-weight: 600;
		line-height: 1.2;
		letter-spacing: -0.68px;
		text-align: center;
		padding: 24px 20px;
		border: 1px solid black;

		background-color: white;
		transition: background-color 0.5s ease-in-out;

		@media only screen and (min-width: 768px) {
			font-size: 34px;
			padding: 50px 20px;
		}
	}
	.item {
		.slideContainer {
			height: 100%;
			overflow: hidden;
		}
		.slideTitle {
			font-family: "Bricolage Grotesque", sans-serif;
			font-size: 30px;
			font-style: normal;
			font-weight: 700;
			line-height: 1;
			letter-spacing: -1.28px;
			color: black;
			margin-bottom: 20px;

			@media only screen and (min-width: 768px) {
				font-size: 40px;
			}
		}

		cursor: pointer;
		&[data-pos="one"] {
			.slideContainer {
				background: #ffa05e;
				padding: 20px 28px;
				@media only screen and (min-width: 768px) {
					padding: 20px 40px;
				}
			}

			.slideContent {
				display: flex;
				flex-direction: column;
				color: black;
				@media only screen and (min-width: 768px) {
					flex-direction: row;
				}
			}

			.slideStandFirst {
				max-width: 100%;
				flex-basis: 100%;
				font-family: "DM Sans", sans-serif;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 1.2;
				@media only screen and (min-width: 768px) {
					max-width: 55%;
					flex-basis: 55%;
				}
			}
			.slideImage {
				max-width: 100%;
				flex-basis: 100%;
				text-align: right;

				img {
					max-width: 50%;
					transform: translate(28px, 28px);

					@media only screen and (min-width: 768px) {
						max-width: initial;
						transform: initial;
					}
				}

				@media only screen and (min-width: 768px) {
					transform: translateX(40px);
					max-width: 45%;
					flex-basis: 45%;
				}
			}
		}

		&[data-pos="two"] {
			background-color: #edf6ff;

			.slideContainer {
				padding: 20px 40px 0 40px;
				position: relative;
				color: black;
			}

			.slideStandFirst {
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 1.2;
				font-family: "DM Sans", sans-serif;
				margin-bottom: 10px;
			}

			.slideImage {
				text-align: center;
				position: relative;
				background-color: #edf6ff;
				transform: translateY(30);
				position: relative;
				img {
				}
			}
		}
	}
	.slideButton {
		margin-top: 10px;
		button {
			background-color: transparent;
			border: none;
			padding: 0;
			color: black;
			display: flex;
			justify-content: flex-start;
			align-items: center;

			svg {
				max-width: 25px;
			}

			span {
				text-decoration: underline;
				margin-right: 5px;
			}
		}
	}
}
